/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@import url("leaflet/dist/leaflet.css");

.leaflet-container {
  width: 100%;
  height: 100vh;
}

:root {
  --ion-background-color: #ffffff;
  --ion-text-color: #333333;
  --ion-toolbar-background: #ffffff;
  --ion-toolbar-color: #333333;
  --ion-card-background: #ffffff;
  --ion-card-color: #333333;
  --ion-item-background: #ffffff;
  --ion-item-color: #333333;
}

.light-theme {
  --ion-background-color: #f5f5f5;
  --ion-text-color: #333;
  --forecast-card-bg: #cac6c6;
  --ion-toolbar-background: #ffffff;
  --ion-toolbar-color: #000000;
  --ion-card-background: #ffffff;
  --ion-card-color: #000000;
  --ion-item-background: #ffffff;
  --ion-item-color: #000000;
  --ion-button-background: #0066ff;
  --ion-button-color: #ffffff;
  --ion-item-divider-background: #f1f1f1;
  --ion-item-divider-color: #ccc;
  --card-title-color: #333;
  --ion-input-placeholder-color: #666;
  --ion-input-color: #000;
  --ion-input-border-color: #cccccc;
  --background: #f5f5f5;
}

.dark-theme {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;
  --forecast-card-bg: #2a2a2a;
  --ion-toolbar-background: #333333;
  --ion-toolbar-color: #ffffff;
  --ion-card-background: #1e1e1e;
  --ion-card-color: #ffffff;
  --ion-item-background: #1e1e1e;
  --ion-item-color: #ffffff;
  --ion-button-background: #0066ff;
  --ion-button-color: #ffffff;
  --ion-item-divider-background: #333333;
  --ion-item-divider-color: #666;
  --card-title-color: #ffffff;
  --ion-input-placeholder-color: #aaaaaa;
  --ion-input-color: #ffffff;
  --ion-input-border-color: #444444;
  --background: #1e1e1e;
}

ion-content {
  --background: var(--ion-background-color);
  color: var(--ion-text-color);
}