:root {
  --background-color: #121212; /* Default Dark Mode */
  --text-color: #ffffff;
  --card-bg: #1e1e1e;
  --card-text: #ffffff;
}

.light-theme {
  --background-color: #ffffff; /* Light Mode */
  --text-color: #000000;
  --card-bg: #f9f9f9;
  --card-text: #000000;
}

ion-content {
  background-color: var(--background-color);
  color: var(--text-color);
}

#map {
  height: 50vh;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.weather-card, .forecast-card {
  background-color: var(--card-bg);
  color: var(--card-text);
}

.weather-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.weather-icon img {
  width: 80px;
  height: 80px;
}

ion-searchbar {
  margin: 10px;
}